@using Combres.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.CombresLink("siteCss")

    <!--[if lt IE 7]>
    @Html.CombresLink("ie6Css")
    @Html.CombresLink("ie6Js")
    <![endif]-->    
</head>
<body>
    @Html.Partial("Header")

    <div id="wrapper">
        <div id="content">
            <div class="content_top">
             	<div class="content_bottom">
                    @RenderBody()
                </div>
          	</div>
        </div>

        @Html.Partial("SideBar")
    </div>

    @Html.Partial("Footer")

    @Html.CombresLink("siteJs")
    @RenderSection("JavaScript", required: false)
</body>
</html>