@model DotNetFlow.Core.Commands.RegisterUserAccountCommand
@{ ViewBag.Title = "Register an account"; }

<h1 class="page_head">Sign Up</h1>
<div class="breadcrumbs"></div>

<div class="registration_form">
    <div id="sign_up">
        <div class="login_content">
            <p>Create an account for submitting new items and commenting on posts.</p>
        </div>

        <div class="registration_form_box">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <h5 class="rfh">Your Information</h5>
                
                <div class="form_row clearfix" >
                    @Html.LabelFor(model => model.FullName, "Full Name")
	                @Html.EditorFor(model => model.FullName)
                    @Html.ValidationMessageFor(model => model.FullName)
                    <div class="information">Will be shown for each of your submissions and comments</div>
	            </div>
                
                <div class="form_row clearfix">
                    @Html.LabelFor(model => model.Username, "Username")
	                @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                    <div class="information">This will be <strong>your login to the site</strong></div>
                </div>

                <div class="form_row clearfix">
                    @Html.LabelFor(model => model.Email, "E-mail")
	                @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                    <div class="information">Used for password reset emails, never shared or sent unsolicited email</div>
                </div>
	
                <div class="form_row clearfix">
                    @Html.LabelFor(model => model.Password, "Password")
	                @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                    <div class="information">Password should be minimum of 6 characters long.</div>
                </div>
		           
	            <div class="fix"></div>
                
	            <h5>Optional Information</h5>

	            <div class="form_row clearfix">
                    @Html.LabelFor(model => model.Website, "Your Web Site")
	                @Html.EditorFor(model => model.Website)
                    @Html.ValidationMessageFor(model => model.Website)
	            </div>
	                    
	            <div class="form_row clearfix">
                    @Html.LabelFor(model => model.Twitter, "Twitter Name")
	                @Html.EditorFor(model => model.Twitter)
                    @Html.ValidationMessageFor(model => model.Twitter)
	            </div>

                <br />
	            <input type="submit" value="Register Now" class="btn_input_highlight btn_spacer" />
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#content form :input').addClass('textfield');
        $('#content form .input-validation-error:first, #content form :input:first').focus();
    });
</script>