@model DotNetFlow.Core.Commands.SubmitNewItemCommand
@{ ViewBag.Title = "Post new item"; }

<h1 class="page_head">Post an Item</h1>
<div class="breadcrumbs"></div>

<div class="registration_form">
    <div id="sign_up">
        <div class="login_content">
            <p>Submit a .NET related news story, annoucement, event or interesting article.</p>
        </div>

        <div class="registration_form_box">
            @using (Html.BeginForm()) {
                @Html.ValidationSummary(true)

                <div class="form_row clearfix" >
                    @Html.LabelFor(model => model.UsersName, "Your Name")
	                @Html.EditorFor(model => model.UsersName)
                    @Html.ValidationMessageFor(model => model.UsersName)
                    <div class="information">Will be shown with your submission</div>
	            </div>
                
                <div class="form_row clearfix" >
                    @Html.LabelFor(model => model.Title, "Title")
	                @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                    <div class="information">Enter a short, reader-friendly title, without a URL</div>
	            </div>
            
                <div class="form_row clearfix" >
                    @Html.LabelFor(model => model.Content, "Content")
	                @Html.TextAreaFor(model => model.Content)
                    @Html.ValidationMessageFor(model => model.Content)
                    <div class="information">Write a single paragraph containing a brief description, including a link.</div>
                    <div class="information"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax formatting is allowed.</div>
                    <div class="information">Submissions are moderated before appearing on the site.</div>
	            </div>
                                
                <p><input type="submit" value="Submit Item" class="btn_input_highlight btn_spacer" /></p>
                
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#nav li.submit-item').addClass('current_page_item');
        $('#content form :input').addClass('textfield');
        $('#content form .input-validation-error:first, #content form :input:first').focus();
    });
</script>